@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  margin: 0;
  padding: 0 30%;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eae2b7;
  color: #003049;
  width: 40%;
}

:is(h1, h2, h3) {
  font-family: "Playfair Display", Times, serif;
}

hr {
  border: #003049 solid 1px;
}

header,
header > nav,
header > h1,
header > nav > p,
main,
main > article,
#abt-container,
.abt-item,
#folio-container,
.folio-item,
footer {
  margin: 5px;
  padding: 5px;
}

header {
  display: flex;
  align-items: center;
}

header > h1,
header > nav {
  flex: 1;
}

header > h1 {
  text-align: right;
}

header > nav > p {
  display: inline;
  font-size: larger;
}

main {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.center-aligned {
  text-align: center;
}

#abt-container {
  display: flex;
  align-items: center;
}

.abt-item {
  flex: 1;
}

#folio-container {
  display: flex;
  /* align-items: flex-start; */
}

.folio-item {
  flex: 1;
}

footer {
  text-align: center;
}

img {
  max-width: 200px;
  /* float: left; */
}

.image-circle {
  border: solid 2px black;
  border-radius: 50%;
}

.font-14 {
  font-size: 14px;
}

p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}
